In [146]:
print("hello")

hello

In [147]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.preprocessing import LabelEncoder
from sklearn import metrics

In [148]:
dataset= pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

In [149]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [150]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           4340 non-null   object
 1   year           4340 non-null   int64
 2   selling_price  4340 non-null   int64
 3   km_driven      4340 non-null   int64
 4   fuel           4340 non-null   object
 5   seller_type    4340 non-null   object
 6   transmission   4340 non-null   object
 7   owner          4340 non-null   object
dtypes: int64(3), object(5)
memory usage: 271.4+ KB

In [151]:
dataset.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [152]:
dataset.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

In [153]:
dataset["selling_price"].value_counts()

selling_price
300000     162
250000     125
350000     122
550000     107
600000     103
          ...
2100000      1
828999       1
1119000      1
746000       1
865000       1
Name: count, Length: 445, dtype: int64

In [154]:
dataset["owner"].value_counts()

owner
First Owner             2832
Second Owner            1106
Third Owner              304
Fourth & Above Owner      81
Test Drive Car            17
Name: count, dtype: int64

In [155]:
dataset.shape

(4340, 8)

In [156]:
dataset["fuel"].value_counts()

fuel
Diesel      2153
Petrol      2123
CNG           40
LPG           23
Electric       1
Name: count, dtype: int64

In [157]:
dataset["seller_type"].value_counts()

seller_type
Individual          3244
Dealer               994
Trustmark Dealer     102
Name: count, dtype: int64

In [158]:
dataset.replace({"fuel": {"Petrol":0,"Diesel":1, "CNG":2,"LPG":3,"Electric":4}},inplace=True)
dataset.replace({"seller_type": {"Individual":0,"Dealer":1, "Trustmark Dealer":2}},inplace=True)
dataset.replace({"transmission": {"Manual":0,"Automatic":1}},inplace=True)
dataset.replace({"owner": {"First Owner":0,"Second Owner":1,"Third Owner":2,"Fourth & Above Owner":3,"Test Drive Car":4}},inplace=True)

In [159]:
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,0,0,0,0
1,Maruti Wagon R LXI Minor,2007,135000,50000,0,0,0,0
2,Hyundai Verna 1.6 SX,2012,600000,100000,1,0,0,0
3,Datsun RediGO T Option,2017,250000,46000,0,0,0,0
4,Honda Amaze VX i-DTEC,2014,450000,141000,1,0,0,1

In [160]:
dataset["transmission"].value_counts()

transmission
0    3892
1     448
Name: count, dtype: int64

In [161]:
lb=LabelEncoder()
dataset["name"]=lb.fit_transform(dataset["name"])
dataset["name"]

0        775
1       1041
2        505
3        118
4        279
        ...
4335     602
4336     601
4337     777
4338     381
4339    1154
Name: name, Length: 4340, dtype: int32

In [162]:
X=dataset.drop(columns=["selling_price"],axis=1)
Y=dataset["selling_price"]

In [163]:
X.head()

   name  year  km_driven  fuel  seller_type  transmission  owner
0   775  2007      70000     0            0             0      0
1  1041  2007      50000     0            0             0      0
2   505  2012     100000     1            0             0      0
3   118  2017      46000     0            0             0      0
4   279  2014     141000     1            0             0      1

In [164]:
Y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [165]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=2)

In [166]:
X_train.shape

(3472, 7)

In [167]:
X_test.shape

(868, 7)

In [168]:
regrsso=RandomForestRegressor()

In [169]:
regrsso.fit(X_train,Y_train)

RandomForestRegressor()

In [170]:
train_predict=regrsso.predict(X_train)
error_score=metrics.r2_score(Y_train,train_predict)

In [171]:
error_score

0.9649869930359186

In [172]:
test_predict=regrsso.predict(X_test)
error_score1=metrics.r2_score(Y_test,test_predict)

In [173]:
error_score1

0.8631486953821956

In [174]:
#lasso

In [175]:
las=Lasso()

In [176]:
las.fit(X_train,Y_train)

Lasso()

In [177]:
train_predict1=las.predict(X_train)
error_score2=metrics.r2_score(Y_train,train_predict1)

In [178]:
error_score2

0.42858054997216655

In [179]:
test_predict1=las.predict(X_test)
error_score3=metrics.r2_score(Y_test,test_predict1)

In [180]:
error_score3

0.4935823744721518

In [181]:
X

      name  year  km_driven  fuel  seller_type  transmission  owner
0      775  2007      70000     0            0             0      0
1     1041  2007      50000     0            0             0      0
2      505  2012     100000     1            0             0      0
3      118  2017      46000     0            0             0      0
4      279  2014     141000     1            0             0      1
...    ...   ...        ...   ...          ...           ...    ...
4335   602  2014      80000     1            0             0      1
4336   601  2014      80000     1            0             0      1
4337   777  2009      83000     0            0             0      1
4338   381  2016      90000     1            0             0      0
4339  1154  2016      40000     0            0             0      0

[4340 rows x 7 columns]

In [183]:
input=(279,2014,141000,1,0,0,1)
input_arr=np.asarray(input)

In [184]:
input_arr_shape=input_arr.reshape(1,-1)

In [185]:
ans=regrsso.predict(input_arr_shape)

d:\conda\envs\trainy2_O\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [187]:
print(ans)

[432369.97]

In [189]:
ans1=las.predict(input_arr_shape)

d:\conda\envs\trainy2_O\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

In [190]:
print(ans1)

[486223.72333924]